<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">VIP Org Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Hello, &nbsp; <b><span th:text="${name}"></span></b>
</p>
<p>
    Your verify code: <span th:text="${code}" style="color : blue;text-transform: uppercase"></span>
    <br/>
    This code will expire in <span th:text="${time}" style="color: black; font-size: medium; font-weight: bold"></span> mins <br/>
    If you did not make this request,<span style="color: darkred" >please disregard this email.</span>
    <br/>
    <span th:text="${date}"></span>
<p>
    Regards, <br/>
    <em>M-Cash Organization</em>
</p>
</body>
</html>